<p id="notice"><%= notice %></p>

<h1>All Event</h1>

<h2>Upcoming Event</h2>
<%= render 'event.html.erb', private: @upcoming_events%>

<h2>Past Event</h2>
<%= render 'event.html.erb', private: @prev_events%>

 

<%= link_to 'Create Event', new_private_path %>
